* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.navbar{
    width:100%;
    margin-top: 0;
    background-color: #063;
}

section {
    position: relative;
  }
  
  .responsive-image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover; /* or contain, depending on your needs */
  }
  
  .overlay-text  {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%; /* adjust this value to fit your layout */
    text-align: left;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
  
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .textcolorwhite {
color: white;
  }
  .profexptitulo {
    text-align: center; 
    margin-top: 25px;
  }
  .expdespl {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
  }
  .habtitulo {
    text-align: center; 
    margin-top: 25px;
    margin-bottom: 15px;
  }
  .skills {
    width: 100%;
    display: flex;
    gap:2px;

  }
  .habduras {
    width: 50%;

  }
  .habblandas {
width: 50%;
  }
  .contacttitulo {
    text-align: center; 
    margin-top: 25px;
    margin-bottom: 15px;
  }
  .ptitulo{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    width: 80%;
    margin-left: 10%;
  }
  .contactform {
    width: 80%;
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
  }